.movies_list
{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.movies_list::-webkit-scrollbar
{
    display: none;
}
.extra
{
    max-height: 250px;
}
.extra:hover
{
    transform: scale(1.09);
}
h2
{
    padding-top: 15px;
    padding-left: 15px;
}